@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-items: start;
    align-items: center;
    min-height: 100vh;
    background: rgb(17, 33, 43);
}
body::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(255, 8, 0),rgb(255, 196, 0));
    clip-path: circle(30% at right 70%);
}
body::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#1f2225,#cbcece);
    clip-path: circle(20% at 10% 20%);
    animation: 10s infinite left;
}
section
{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1;
    height: 90px;
    background: linear-gradient(rgba(206, 11, 11, 0.479),rgb(3, 59, 20)); 
    animation-delay: 10s;
    transform: translateX();
}
@keyframes right 
{
    0%   {  background: linear-gradient(rgb(151, 24, 24),rgb(6, 84, 90));}
    25%  {  background: linear-gradient(rgb(255, 115, 0),rgb(63, 3, 75)); }
    50%  {  background: linear-gradient(rgb(255, 17, 0),rgb(6, 28, 90)); }
    75%  {  background: linear-gradient(rgb(255, 251, 0),rgb(10, 217, 231)); }
    100% {  background: linear-gradient(rgb(123, 255, 0),rgb(68, 18, 204)); }

   
 }
   
  
  

   
  
  @keyframes left 
  {
        
        
        0%   {  background: linear-gradient(rgb(2, 43, 71),rgb(6, 84, 90));}
        25%  {  background: linear-gradient(rgb(87, 185, 156),rgb(173, 4, 207)); }
        50%  {  background: linear-gradient(rgb(255, 17, 0),rgb(6, 28, 90)); }
        75%  {  background: linear-gradient(rgb(255, 251, 0),rgb(10, 217, 231)); }
        100% {  background: linear-gradient(rgb(19, 138, 15),rgb(248, 6, 6)); }
  }

    
header
{
   
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}
header img{
    height: 50px;
}
header ul 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}
header ul li a
{
    text-decoration: none;
    color: rgb(228, 129, 17);
}
.login
{
    display: flex;
    justify-content: center;
   
}
.login samp
{
    margin: 0 20px;
    color: rgb(97, 21, 197);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login button
{
    margin: 0 20px;
    color: rgb(10, 8, 172);
    font-weight: 600;
    height: 40px;
    padding: 5px 30px;
    border: none;
    background: linear-gradient(rgb(0, 204, 255),rgb(6, 128, 44));
    border-radius: 4px;
    box-shadow: inset 20px 20x 50px rgba(255, 254, 251, 0.945) 
    inset -20px -20px -50px rgba(240, 19, 19, 0.5) !important;
}

.coutainer
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
    z-index: 1;
}
.coutainer .card
{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20x 50px rgba(251, 255, 255, 0.5) !important;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1) ;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(151, 255, 255, 0.5);
    border-left: 1px solid rgba(151, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    animation: 10s infinite right ;
}
.coutainer .card .content
{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    animation: 10s infinite right;
}
.coutainer .card:hover .content
{
    transform: translateY(0px);
    opacity: 1;
}
.coutainer .card .content img
{
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 130px;
    color: rgba(255, 255, 255, 0.05);
    top: -10px;
}
.coutainer .card .content h3
{
    font-size: 1.8em ;
    color: #fff;
    z-index: 1;
}
.coutainer .card .content p
{
    font-size: 1em ;
    color: #fff;
    font-weight: 300;
}
.coutainer .card .content a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 1px 10px 20px rgba(255, 255, 255, 0.1) ;
}